*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.svg{
    width: 600px;
    margin: 30px auto;
    display: block;
    outline: 4px solid black;
}

#telefono{
    animation: rotate 2s infinite alternate;
    transform-origin: center;
}

@keyframes rotate{
    0%{
        transform: rotate(0) scale(1);
    }

    100%{
        transform: rotate(360deg) scale(.4);
    }
}